name: CI

on: ['push', 'pull_request']

env:
  PRIVATE_REPO: "${{ github.workspace }}/build/githubActionGrettyPrivateRepository"

jobs:

  build:
    name: Build Gretty
    runs-on: ubuntu-latest

    env:
      JDK_VERSION: "8"
      GRADLE_VERSION: "6.9.2"

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK ${{ env.JDK_VERSION }}
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: ${{ env.JDK_VERSION }}

      - name: Build with Gradle ${{ env.GRADLE_VERSION }}
        run: |
          set -e
          ./gradlew --no-daemon wrapper --gradle-version $GRADLE_VERSION --distribution-type all
          ./gradlew --no-daemon --warning-mode all -PprivateRepoDir=$PRIVATE_REPO build
          set +e

      - uses: actions/upload-artifact@v3
        with:
          name: gretty-private-repository
          path: ${{ env.PRIVATE_REPO }}

  test:
    name: Gradle ${{ matrix.gradle }} on Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    needs: build

    strategy:
      matrix:
        java: [8, 11]
        gradle: ['6.9.2']
        include:
          - java: 15
            gradle: '7.5'
            properties: '-Pspock_version=2.0-groovy-3.0 -PgebVersion=5.0'

    env:
      TEST_ALL_CONTAINERS: "['jetty9.3','jetty9.4','tomcat85','tomcat9']"
      GRADLE_VERSION: ${{ matrix.gradle }}
      EXTRA_PROPERTIES: ${{ matrix.properties }}

    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v3
        with:
          name: gretty-private-repository
          path: ${{ env.PRIVATE_REPO }}

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}

      - name: Set up Gradle ${{ matrix.gradle }}
        run: ./gradlew --no-daemon wrapper --gradle-version $GRADLE_VERSION --distribution-type all

      - name: Run Integration Tests
        run: |
          ../gradlew --no-daemon \
            --warning-mode all \
            -PprivateRepoDir=$PRIVATE_REPO \
            $EXTRA_PROPERTIES \
            -PgeckoDriverPlatform=linux64 \
            -PtestAllContainers=$TEST_ALL_CONTAINERS \
            testAll
        working-directory: integrationTests
