name: CI

on: ['push', 'pull_request']

env:
  PRIVATE_REPO: "${{ github.workspace }}/build/githubActionGrettyPrivateRepository"

jobs:

  build:
    name: Build Gretty
    runs-on: ubuntu-latest

    env:
      JDK_VERSION: "17"
      GRADLE_VERSION: "7.6.6"

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK ${{ env.JDK_VERSION }}
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: ${{ env.JDK_VERSION }}

      - name: Build with Gradle ${{ env.GRADLE_VERSION }}
        run: |
          set -e
          ./gradlew --no-daemon wrapper --gradle-version $GRADLE_VERSION --distribution-type all
          ./gradlew --no-daemon --warning-mode all -PprivateRepoDir=$PRIVATE_REPO build
          set +e

      - uses: actions/upload-artifact@v4
        with:
          name: gretty-private-repository
          path: ${{ env.PRIVATE_REPO }}

  test:
    name: Gradle ${{ matrix.gradle }} on Java ${{ matrix.java }}${{ matrix.toolchainJavaVersion && format(' (Java {0} Container)', matrix.toolchainJavaVersion) || '' }}
    runs-on: ubuntu-latest
    needs: build

    strategy:
      matrix:
        include:
          - java: 17
            gradle: '7.6.6'

          - java: 17
            gradle: '7.6.6'
            toolchainJavaVersion: 21

          - java: 17
            gradle: '8.14.3'

          - java: 17
            gradle: '8.14.3'
            toolchainJavaVersion: 21

          - java: 17
            gradle: '9.0.0-rc-1'

          - java: 17
            gradle: '9.0.0-rc-1'
            toolchainJavaVersion: 21

    env:
      TEST_ALL_CONTAINERS: ${{ matrix.container }}
      GRADLE_VERSION: ${{ matrix.gradle }}
      EXTRA_PROPERTIES: ${{ matrix.properties }}
      TOOLCHAIN_JAVA_ARGS: "${{ matrix.toolchainJavaVersion && format('-PtoolchainJavaVersion={0}', matrix.toolchainJavaVersion) || '' }}"
      GRADLE_TEST_TASK: "${{ matrix.toolchainJavaVersion && 'testAllJavaToolchain' || 'testAll' }}"

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: gretty-private-repository
          path: ${{ env.PRIVATE_REPO }}

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}

      - name: Set up Gradle ${{ matrix.gradle }}
        run: ./gradlew --no-daemon wrapper --gradle-version $GRADLE_VERSION --distribution-type all

      # begin workaround - see also integrationTests/buildSrc/build.gradle
      - name: Install buildSrc project (only required for Gradle 8)
        run: |
          ../../gradlew --no-daemon \
            --warning-mode all \
            -PprivateRepoDir=$PRIVATE_REPO \
            publishToPrivateRepo
        if: ${{ ! startsWith(env.GRADLE_VERSION, '7.') }}
        working-directory: integrationTests/buildSrc
      # end workaround

      - name: Run Integration Tests
        run: |
          ../gradlew --no-daemon \
            --warning-mode all \
            -PprivateRepoDir=$PRIVATE_REPO \
            $EXTRA_PROPERTIES $TOOLCHAIN_JAVA_ARGS \
            -PgeckoDriverPlatform=linux64 \
            -PtestAllContainers=$TEST_ALL_CONTAINERS \
            $GRADLE_TEST_TASK
        working-directory: integrationTests
